<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">FIND THE PERFECT FIT</h1>
      <p class="text-center">TAP FOR DETAILS</p>
      <div class="button-group">
        <button type="button" class="btn" (click)="setViewFits('mens')">MENS</button>
        <button type="button" class="btn" (click)="setViewFits('both')" autofocus>BOTH</button>
        <button type="button" class="btn" (click)="setViewFits('womens')">WOMENS</button>
      </div>
    </div>
  </div>
  <div *ngIf="viewFitsBy === 'both'">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div *ngFor="let jeanFit of jeanFitList | filterJeanFitGender:'male'">
          <div class="jean-fit">
            <img [src]="jeanFit.imgMain">
            <div class="overlay-right">
              <h3>{{jeanFit.name}}</h3>
              <p>{{jeanFit.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div *ngFor="let jeanFit of jeanFitList | filterJeanFitGender:'female'">
          <div class="jean-fit">
            <img class="mirror" [src]="jeanFit.imgMain">
            <div class="overlay-left">
              <h3>{{jeanFit.name}}</h3>
              <p>{{jeanFit.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewFitsBy === 'mens'">
    <div class="row">
      <div class="col-12 col-sm-6" *ngFor="let jeanFit of jeanFitList | filterJeanFitGender:'male'">
        <div class="jean-fit">
          <img [src]="jeanFit.imgMain">
          <div class="overlay-right">
            <h3>{{jeanFit.name}}</h3>
            <p>{{jeanFit.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewFitsBy === 'womens'">
    <div class="row">
      <div class="col-12 col-sm-6" *ngFor="let jeanFit of jeanFitList | filterJeanFitGender:'female'">
        <div class="jean-fit">
          <img class="mirror" [src]="jeanFit.imgMain">
          <div class="overlay-right">
            <h3>{{jeanFit.name}}</h3>
            <p>{{jeanFit.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
