<div class="container">
  <h1 class="text-center">FITS</h1>
  <br>
  <div class="row">
    <div class="col-6">
      <div class="jean-fit" *ngFor="let jeanFit of jeanFitList | filterJeanFitGender:'male'">
        <img [src]="jeanFit.imgMain">
        <h5>{{jeanFit.name}}</h5>
        <p>{{jeanFit.description}}</p>
      </div>
    </div>
    <div class="col-6">
      <div class="jean-fit" *ngFor="let jeanFit of jeanFitList | filterJeanFitGender:'female'">
        <img class="mirror" [src]="jeanFit.imgMain">
        <h5>{{jeanFit.name}}</h5>
        <p>{{jeanFit.description}}</p>
      </div>
    </div>
  </div>
</div>
