<div class="sale-display-header row">
  <div class="col-sm">
    <select (change)="onChange($event.target.value)">
      <option value="all" selected="selected">ALL</option>
      <option value="jacket">JACKETS</option>
      <option value="pant">PANTS</option>
      <option value="tee">TEES</option>
      <option value="under100">UNDER $100</option>
    </select>
  </div>
  <div class="col-sm">
    <h4>MENS</h4>
  </div>
  <div class="col-sm">
    <p>1 2 3 4 5 ></p>
  </div>
</div>
<div class="sale-display-body row">
  <div class="col-4" *ngFor="let saleItem of childSaleItems | filterProduct:filterSaleItems ">
    <div [class]="outOfStock(saleItem)">
      <img [src]="saleItem.imgMain">
      <p>{{saleItem.name}}</p>
      <p>$USD {{saleItem.price}}</p>
    </div>
    <h3 *ngIf="!saleItem.inStock">OUT OF STOCK</h3>
  </div>
</div>
<p class="text-center">1 2 3 4 5 ></p>
