.sale-display-header h4 {
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

.sale-display-header select {
  margin: 50px 50px;
}

.item-display img {
  display: block;
  margin: auto;
  width: 90%;
}

.item-display p {
  font-weight: bold;
  text-align: center;
}
