.row {
  margin-top: 25px;
}

.key-look {
  margin: 0 auto 25px;
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 0;
  height: 100%;
  text-align: center;
}

.key-look:hover .overlay {
  width: 100%;
}

svg {
  display: block;
  height: 30px;
  width: 30px;
  margin-bottom: 25px;
}

.description-text {
  color: white;
  font-family: serif;
  font-size: 18px;
  font-style: italic;
  padding: 0 25px 10px;
}

.date-text {
  color: white;
  font-size: 14px;
  padding: 0 25px;
}

img {
  width: 100%;
}
