.sale-display-header {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.sale-display-header-col {
  padding: 10px;
}

.sale-display-header h4 {
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.sale-display-header select {
  font-size: 14px;
  padding: 3px;
}

.sale-display-header select {
  outline: none;
}

button {
  background-color: white;
  color: #afafaf;
  margin: 0 2px;
  padding: 0 5px;
}

.page-tracker {
  white-space: nowrap;
}

.sale-display-body {
  margin: 0 10%;
}

.item-display {
  margin-bottom: 20px;
  cursor: pointer;
}

.item-display img {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
}

.item-display p {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

.warning {
  color: crimson;
}

.out-of-stock {
  opacity: .4;
}
