<div class="container">
  <div class="sale-display-header">
    <div class="row">
      <div class="col">
        <h4>MENS</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6 sale-display-header-col">
        <select (change)="setFilterParameter($event.target.value)">
          <option value="all" selected="selected">ALL</option>
          <option value="jacket">JACKETS</option>
          <option value="pant">PANTS</option>
          <option value="tee">TEES</option>
          <option value="under100">UNDER $100</option>
        </select>
      </div>
      <div class="col col-md-6 sale-display-header-col">
        <p class="page-tracker"><strong>1</strong> 2 3 4 5 ></p>
      </div>
    </div>
  </div>
  <div class="sale-display-body row">
    <div class="item-display col-4" *ngFor="let saleItem of saleItems | async | filterProduct:filterParameter" (click)="goToSaleItemDetail(saleItem)">
      <div [class]="outOfStock(saleItem)">
        <img [src]="saleItem.imgDisplay" (mouseover)="mouseOver(saleItem)"
        (mouseout)="mouseOut(saleItem)">
      </div>
      <p>{{saleItem.name}}</p>
      <p *ngIf="saleItem.inventory !== 0">$USD {{saleItem.price}}</p>
      <p class="warning" *ngIf="saleItem.inventory === 0">OUT OF STOCK</p>
    </div>
  </div>
  <p class="text-center page-tracker"><strong>1</strong> 2 3 4 5 ></p>
</div>
