.fluid-container {
  width: 100%;
}

img {
  width: 100%;
}

h5 {
  color: white;
  background: linear-gradient(to top, #333333, #232323, #131313);
  padding: 10px 0;
  width: 100%;
}

a:hover button {
  background: white;
  color:black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin: auto;
  width: 150px;
  background: black;
  color: white;
  border-radius: 0;
  border: 2px solid black;
}

.col-6 img {
  display: block;
  margin: auto;
  width: 75%;
}

.mirror {
  transform: scaleX(-1);
}

.footer {
  background: linear-gradient(to bottom, #333333, #232323, #131313);
  width: 100%;
}

.footer img {
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 100px;
}
