img {
  width: 100%;
}

.footer {
  border-top: 1px solid white;
  background: linear-gradient(to bottom, #333333, #232323, #131313);
  width: 100%;
}

.footer img {
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 100px;
}
