<div class="fluid-container">
  <img src="https://raw.githubusercontent.com/william-chu/epicodus-week8-9/master/src/assets/LandingPage.png">
  <h5 class="text-center">21st CENTURY DENIM</h5>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn">SHOP MENS</button>
        <img src ="https://raw.githubusercontent.com/william-chu/epicodus-week8-9/master/src/assets/home_page_man.jpg">
      </div>
      <div class="col-6">
        <button type="button" class="btn">SHOP WOMENS</button>
        <img src ="https://raw.githubusercontent.com/william-chu/epicodus-week8-9/master/src/assets/home_page_woman.jpg">
      </div>
    </div>
  </div>
  <div class="footer">
    <img src="https://raw.githubusercontent.com/william-chu/epicodus-week8-9/master/src/assets/logowhite.png">
  </div>
</div>
