img {
  height: 40px;
  margin: 3px 50px;
}

.navbar {
  border-bottom: 1px gray solid;
}

.nav-item {
  margin-right: 50px;
}

.nav-item a {
  font-size: 14px;
}

#navbarNavDropdown {
  padding-top: 10px;
  padding-left: 50px;
}
