.container-fluid {
  border-bottom: 1px lightgray solid;
}

img {
  height: 40px;
  margin-right: 50px;
}

.nav-item {
  margin-right: 25px;
}

.navbar-nav a {
  font-size: 16px;
  white-space: nowrap;
}

#navbarNavDropdown {
  padding-top: 10px;
}
