<div class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a routerLink=""><img src="https://raw.githubusercontent.com/william-chu/epicodus-week8-9/master/src/assets/logo.png" alt="Neuw Denim Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <a class="nav-item nav-link" routerLink="mens-sale">MENS</a>
          <a class="nav-item nav-link" routerLink="womens-sale">WOMENS</a>
          <a class="nav-item nav-link" routerLink="key-looks">KEY LOOKS</a>
          <a class="nav-item nav-link" routerLink="brand">BRAND</a>
          <a class="nav-item nav-link" routerLink="fit">FIT</a>
          <a class="nav-item nav-link" routerLink="info">INFO</a>
        </ul>
      </div>
    </nav>
  </div>
</div>
